<?xml version="1.0"?>
<launch>
  <arg name="model" />
  <arg name="gui" default="True" />


  <param name="use_gui" value="$(arg gui)" />

  <include file="$(find medical_description)/launch/medical_upload.launch" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="$(arg gui)"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find medical_description)/urdf.rviz" />
</launch>
